$hueOffset: 5;
$colors: (
        #FCFCFC,
        #000000,
        hsl(0 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(1 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(2 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(3 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(4 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(5 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(6 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(7 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(8 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(9 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(10 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(11 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(12 * (360 / 14) + $hueOffset, 100%, 50%),
        hsl(13 * (360 / 14) + $hueOffset, 100%, 50%),
);

#debug {
  @each $color in $colors {
    background-color: $color;
  }
}