$breakpoint: 920px;
$hueOffset: 5;
$lightenPercent: 10%;
@function calc-color($i) {
        @return lighten(hsl($i * (360 / 14) + $hueOffset, 100%, 50%), 10%);
}
$colors: (
        #FCFCFC,
        lighten(#282828, $lightenPercent),
);

@for $i from 1 through 14 {
  $colors: append($colors, calc-color($i - 1));
}